@group-padding: 12px;
@padding-width: 8px;
@row-width: calc(100% - 2 * @padding-width);
@div-bg: var(--color-bg-white);
@border-radius: 4px;

.GroupDiv {
  padding: @group-padding;
  background: var(--color-neutral-3);
  height: calc(100% - 2 * @group-padding);
  display: flex;
  flex-direction: column;
}

.SearchFormDiv {
  padding: @padding-width @padding-width 0 @padding-width;
  width: @row-width;
  background: @div-bg;
  border-radius: @border-radius;
}

.OptionLineDiv {
  margin: 12px 0;
  padding: @padding-width;
  width: @row-width;
  background: @div-bg;
  border-radius: @border-radius;

  .Row {
    .LeftCol {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .RightCol {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
    }
  }
}

.ShowTableDiv {
  background: @div-bg;
  flex: 1;
  border-radius: @border-radius;
  overflow-y: hidden;
  overflow-x: hidden;
}

.GroupDetail {
  height: 100%;
  //overflow-y: hidden;
  overflow-x: hidden;
}

.action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}