env: dev # dev、test、prod、local

server:
  name: moon_palace
  metadata:
    description: palace是moon监控系列的监控平台，用于管理告警、监控、配置、日志、数据源等
    background: 寓意为月宫，表示moon系列的统一管理平台
  http:
    addr: 0.0.0.0:8000
    timeout: 50s
  grpc:
    addr: 0.0.0.0:9000
    timeout: 50s
  jwt:
    sign_key: "moon-sign_key"
    issuer: "moon-palace"
    white_list:
      - /api.admin.authorization.Authorization/Login
      - /api.admin.authorization.Authorization/Captcha
      - /api.admin.authorization.Authorization/CreatePassword
      - /api.Health/Check

    # 角色权限白名单, 包含white_list， 因为不需要登录的接口自然也不需要RBAC
    rbac_white_list:
      - /api.admin.authorization.Authorization/Logout
      - /api.admin.team.Team/MyTeam
      - /api.admin.authorization.Authorization/RefreshToken

    # 黑名单接口， 用于禁用某些接口
    black_list:

data:
  database:
    driver: "mysql"
    debug: false
    dsn: "root:12345678@tcp(localhost:3306)/moon?charset=utf8mb4&parseTime=True&loc=Local"
  bizDatabase:
    driver: "mysql"
    debug: false
    dsn: "root:12345678@tcp(localhost:3306)/"
  alarmDatabase:
    driver: "mysql"
    debug: true
    dsn: "root:12345678@tcp(localhost:3306)/"
  cache:
    redis:
      network: "tcp"
      addr: localhost:6379
      db: 0
      password: ""
      read_timeout: 0.2s
      write_timeout: 0.2s
      dial_timeout: 0.2s
    nutsDB:
      path: ./tmp/nutsdb
      bucket: test

discovery:
  type: "etcd"
  etcd:
    endpoints:
      - localhost:20000
      - localhost:20002
      - localhost:20004
    username: ""
    password: ""
    timeout: 50s

micro_server:
  rabbit_server:
    network: "rpc"
    nodeVersion: ""
    endpoint: "discovery:///moon_rabbit"
    timeout: 50s
    secret: ""
  hou_yi_server:
    network: "rpc"
    nodeVersion: ""
    endpoint: "discovery:///moon_houyi"
    timeout: 50s
    secret: ""