version: '3'

networks:
  prometheus_manager_net:
    driver: bridge

services:
  prometheus_manager:
    container_name: prometheus_manager
    build: 
      context: ../..
      dockerfile: ./deploy/docker/prom-server/Dockerfile
      args:
        VERSION: ${VERSION}
    # image: docker.hub/prometheus-manager/app/prom-server:v0.0.0
    ports:
      - "8001:8000"
      - "9001:9000"
    volumes:
      - "../../app/prom_server/configs/:/data/conf"
      - "../../app/prom_server/cache:/app/cache"
    networks:
      prometheus_manager_net:

  prometheus_manager_agent:
    container_name: prometheus_manager_agent
    build: 
      context: ../..
      dockerfile: ./deploy/docker/prom-agent/Dockerfile
      args:
        VERSION: ${VERSION}
    # image: docker.hub/prometheus-manager/app/prom-agent:v0.0.0
    ports:
      - "8002:8000"
      - "9002:9000"
    volumes:
      - "../../app/prom_agent/configs/:/data/conf"
      - "../../app/prom_agent/cache:/app/cache"
    depends_on:
      - prometheus_manager
    networks:
      prometheus_manager_net:

  prometheus_manager_web:
    container_name: prometheus_manager_web
    build: 
      context: ../..
      dockerfile: ./deploy/docker/prom-web/Dockerfile
    # image: docker.hub/prometheus-manager/web:v0.0.0
    ports:
      - "8000:80"
    depends_on:
      - prometheus_manager
    networks:
      prometheus_manager_net: