<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon Goddess Invite Member</title>
</head>

<body>
    <h1>Moon Goddess Invite Member</h1>
    <p>Hello <b>{{.Name}}</b>,</p>
    <p>You are invited to join the Moon Goddess family by <b>{{.Inviter}}</b>.</p>
    <p>Please click the link below to join the Moon Goddess family:</p>
    <a href="{{.InviteLink}}">Join the Moon Goddess family</a>
    <p>Thank you for your time.</p>
    <p>Moon Goddess Team</p>
</body>

</html>