version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: moon-rabbit-postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: "123456"
      POSTGRES_DB: rabbit
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
